.profile-title {
  background-color: #f5f5f5; /*cor de fundo*/
}
h1{
  color: #ff9900;  /*cor de h1*/
}
#profile-image{
  border: 8px solid #333;  /*borda da imagem*/
  width: 300px;
  height: 200px;
}