.profile-title {
  background-color: #f5f5f5; /*cor de fundo*/
  color: #ff9900; /*cor */
}

#profile-image{
  border: 8px solid #333; /*borda da imagem */
}
.section-title{
  color:#2e3c4b;
  background-color:#f0f0f0 ;
}
.skill{
  color:#2e3c4b;
  background-color: #ff9900;
  
}
.text{
  color: #fff;

}



