body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0;
    padding: 10px 20px;
    position: relative;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
/*Menu suspenso*/ 
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    z-index: 100;
  }
  
  .dropdown-item {
    padding: 10px;
  }
  
  .dropdown-link {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  